In [1]:
# Задача определить абонентов (msisdn), которые являются одной и той же Персоной (человеком).

import pandas as pd
import numpy as np
pd.options.display.max_columns = 1000

In [2]:
# Информация о перемещении случайного набора абонентов за период 23-25 мая 2013 года
# в котором точно присутствуют номера телефонов, принадлежащие одному и тому же человеку.
df_a = pd.read_csv('../input/02_Data_test.csv', delimiter=";")
df_a[df_a.index < 3]

,lac,cid,msisdn,imei,event_type,tstamp,long,lat,max_dist,cell_type,start_angle,end_angle
0,5029,40798,158529599791,3.531111e+14,0,1369252800974,37.9305,55.7815,2101,OUTDOOR,220.0,280.0
1,7782,56870,158520145943,1.292900e+13,5,1369252801396,37.4239,55.7426,2,OUTDOOR,45.0,105.0
2,7794,32226,158521798391,3.519940e+14,5,1369252802013,37.7034,55.5803,1125,OUTDOOR,0.0,60.0

In [ ]:
df_b = pd.read_excel('../input/01_RU_fakty.xlsx', delimiter=";")
df_b[df_b.index < 3]