In [1]:
import numpy as np # linear algebra
import pandas as pd # import in pandas

import os
print(os.listdir("../input"))

['DJIA_table.csv']

In [23]:
# https://python-scripts.com/import-collections
from collections import ChainMap
car_parts = {
    'hood': 500,
    'engine': 5000,
    'front_door': 750
}
car_options = {
    'A/C': 1000,
    'Turbo': 2500,
    'rollbar': 300
}
car_accessories = {
    'cover': 100,
    'hood_ornament': 150,
    'seat_cover': 99
}
car_pricing = ChainMap(car_accessories, car_options, car_parts)
 
print(car_pricing['hood']) # 500

500

In [2]:
%%time
# https://www.kaggle.com/getting-started/71679#latest-428948 
# https://www.kaggle.com/abdullahsahin/step-by-step-pandas-tutorial-for-beginner

# https://leetcode.com/problemset/all/ Ссылка на leetcode -  (задачи уровня medium помогут Вам подготовится к встрече лучше). 
# https://leetcode.com/problemset/algorithms/  - это ссылка на решение алгоритмических задач, будет хорошо, если потренируетесь. 
# https://yandex.ru/jobs/dev-interview На странице Вы найдете информацию о том, как будет устроено собеседование, и полезные советы насчёт подготовки.

mySeries = pd.Series([3,-5,7,4], index=['a','b','c','d'])
type(mySeries)

CPU times: user 811 µs, sys: 251 µs, total: 1.06 ms
Wall time: 7.04 ms

In [3]:
data = {'Country': ['Belgium', "India", "Brazil"], 'Capital': ['Brussels', 'New Delhi', 'Brassilia'], 'Population': [1234,1234,1234]}
datas= pd.DataFrame(data, columns=['Country', 'Capital', 'Population'])
print(type(data))
print(type(datas))

<class 'dict'>
<class 'pandas.core.frame.DataFrame'>

In [4]:
df = pd.read_csv('../input/DJIA_table.csv')
type(df)

pandas.core.frame.DataFrame

In [5]:
# pd.read_excel('filename')
# pd.to_excel('dir/dataFrame.xlsx', sheet_name='Sheet1')

In [6]:
# pd.read_sql(query,connection_object) -> Reads from a SQL table/database
# pd.read_table(filename) -> From a delimited text file(like TSV)
# pd.read_json(json_string) -> Reads from a json formatted string, URL or file
# pd.read_html(url) -> Parses an html URL, string or file and extracts tables to a list of dataframes
# pd.read_clipboard() -> Takes the contentes of your clipboard and passes it to read_table()
# pd.DataFrame(dict) -> From a dict, keys for columns names, values for data as lists

In [7]:
# df.to_csv(filename) -> Writes to a CSV file
# df.to_excel(filename) -> Writes on an Excel file
# df.to_sql(table_name, connection_object) -> Writes to a SQL table
# df.to_json(filename) -> Writes to a file in JSON format
# df.to_html(filename) -> Saves as an HTML table
# df.to_clipboard() -> Writes to the clipboard

In [8]:
pd.DataFrame(np.random.rand(20,5)) # 5 columns and 20 rows of random floats

           0         1         2         3         4
0   0.983204  0.297687  0.113617  0.322789  0.364907
1   0.472510  0.642895  0.414901  0.165723  0.814565
2   0.513040  0.463530  0.796103  0.646248  0.910504
3   0.028785  0.303364  0.286574  0.189990  0.679883
4   0.632568  0.611311  0.363344  0.549519  0.445853
5   0.644303  0.377197  0.218249  0.776467  0.796167
6   0.271269  0.040997  0.101029  0.014694  0.478074
7   0.243174  0.215521  0.996762  0.785726  0.069866
8   0.885198  0.475580  0.836344  0.489876  0.574516
9   0.726644  0.663296  0.395086  0.136618  0.344040
10  0.386024  0.319443  0.889174  0.318780  0.173788
11  0.455480  0.416573  0.658231  0.095885  0.794050
12  0.896123  0.939001  0.939200  0.680683  0.296813
13  0.703619  0.661137  0.058810  0.626462  0.678073
14  0.304972  0.925890  0.184285  0.111127  0.623091
15  0.687262  0.756489  0.817401  0.272307  0.774603
16  0.561181  0.922115  0.313582  0.645422  0.544851
17  0.084585  0.413296  0.311165  0.213340  0.786886
18  0.465448  0.753047  0.119165  0.385946  0.895541
19  0.696592  0.488608  0.495455  0.524565  0.480813

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
A    1 non-null int64
B    1 non-null int64
C    1 non-null int64
D    1 non-null int64
dtypes: int64(4)
memory usage: 112.0 bytes

In [10]:
df.shape

(1, 4)

In [11]:
df.index

RangeIndex(start=0, stop=1, step=1)

In [12]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [13]:
df.count()

A    1
B    1
C    1
D    1
dtype: int64

In [14]:
df.sum()

A    1
B    2
C    3
D    4
dtype: int64

In [15]:
df.cumsum().head()

   A  B  C  D
0  1  2  3  4

In [16]:
df.min()

A    1
B    2
C    3
D    4
dtype: int64

In [17]:
df.max()

A    1
B    2
C    3
D    4
dtype: int64

In [18]:
print("df:", df['A'].idxmin())
print("series:", mySeries.idxmin())

df: 0
series: b

In [19]:
print("df: ",df['D'].idxmax())
print("series: ",mySeries.idxmax())

df:  0
series:  c

In [20]:
df.describe()

         A    B    C    D
count  1.0  1.0  1.0  1.0
mean   1.0  2.0  3.0  4.0
std    NaN  NaN  NaN  NaN
min    1.0  2.0  3.0  4.0
25%    1.0  2.0  3.0  4.0
50%    1.0  2.0  3.0  4.0
75%    1.0  2.0  3.0  4.0
max    1.0  2.0  3.0  4.0

In [21]:
df.mean()

A    1.0
B    2.0
C    3.0
D    4.0
dtype: float64