In [6]:
import numpy as np # linear algebra
import pandas as pd # import in pandas

import os
print(os.listdir("../input"))

['.ipynb_checkpoints', 'DJIA_table.csv']

In [7]:
mySeries = pd.Series([3,-5,7,4], index=['a','b','c','d'])
type(mySeries)

pandas.core.series.Series

In [8]:
data = {'Country': ['Belgium', "India", "Brazil"], 'Capital': ['Brussels', 'New Delhi', 'Brassilia'], 'Population': [1234,1234,1234]}
datas= pd.DataFrame(data, columns=['Country', 'Capital', 'Population'])
print(type(data))
print(type(datas))

<class 'dict'>
<class 'pandas.core.frame.DataFrame'>

In [9]:
df = pd.read_csv('../input/DJIA_table.csv')
type(df)

pandas.core.frame.DataFrame

In [10]:
# pd.read_excel('filename')
# pd.to_excel('dir/dataFrame.xlsx', sheet_name='Sheet1')

In [11]:
# pd.read_sql(query,connection_object) -> Reads from a SQL table/database
# pd.read_table(filename) -> From a delimited text file(like TSV)
# pd.read_json(json_string) -> Reads from a json formatted string, URL or file
# pd.read_html(url) -> Parses an html URL, string or file and extracts tables to a list of dataframes
# pd.read_clipboard() -> Takes the contentes of your clipboard and passes it to read_table()
# pd.DataFrame(dict) -> From a dict, keys for columns names, values for data as lists

In [12]:
# df.to_csv(filename) -> Writes to a CSV file
# df.to_excel(filename) -> Writes on an Excel file
# df.to_sql(table_name, connection_object) -> Writes to a SQL table
# df.to_json(filename) -> Writes to a file in JSON format
# df.to_html(filename) -> Saves as an HTML table
# df.to_clipboard() -> Writes to the clipboard

In [13]:
pd.DataFrame(np.random.rand(20,5)) # 5 columns and 20 rows of random floats

           0         1         2         3         4
0   0.288797  0.164793  0.107834  0.668833  0.370039
1   0.105043  0.631908  0.443559  0.100997  0.275345
2   0.242573  0.889436  0.155560  0.150004  0.718538
3   0.019824  0.618319  0.337537  0.041292  0.316382
4   0.996831  0.667905  0.051141  0.320940  0.018937
5   0.074679  0.022968  0.801282  0.150181  0.854413
6   0.485366  0.477603  0.264636  0.237019  0.213678
7   0.203972  0.893621  0.734056  0.387225  0.400181
8   0.685976  0.954985  0.164495  0.636350  0.028308
9   0.755244  0.199444  0.703076  0.821249  0.672158
10  0.464482  0.891226  0.790910  0.876294  0.911947
11  0.462421  0.843828  0.743779  0.334564  0.506775
12  0.397518  0.370856  0.560432  0.503435  0.708404
13  0.515733  0.087579  0.383370  0.253994  0.934399
14  0.635554  0.550110  0.476271  0.402151  0.189050
15  0.275350  0.258372  0.857823  0.769757  0.074077
16  0.193939  0.535134  0.683685  0.276262  0.906114
17  0.864303  0.635754  0.029548  0.184207  0.232385
18  0.711169  0.831124  0.556107  0.451387  0.672192
19  0.238969  0.599849  0.027440  0.519568  0.952289

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 4 columns):
A    1 non-null int64
B    1 non-null int64
C    1 non-null int64
D    1 non-null int64
dtypes: int64(4)
memory usage: 112.0 bytes

In [16]:
df.shape

(1, 4)

In [17]:
df.index

RangeIndex(start=0, stop=1, step=1)

In [18]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [19]:
df.count()

A    1
B    1
C    1
D    1
dtype: int64

In [20]:
df.sum()

A    1
B    2
C    3
D    4
dtype: int64

In [21]:
df.cumsum().head()

   A  B  C  D
0  1  2  3  4

In [22]:
df.min()

A    1
B    2
C    3
D    4
dtype: int64

In [23]:
df.max()

A    1
B    2
C    3
D    4
dtype: int64

In [25]:
print("df:", df['A'].idxmin())
print("series:", mySeries.idxmin())

df: 0
series: b

In [26]:
print("df: ",df['D'].idxmax())
print("series: ",mySeries.idxmax())

df:  0
series:  c

In [27]:
df.describe()

         A    B    C    D
count  1.0  1.0  1.0  1.0
mean   1.0  2.0  3.0  4.0
std    NaN  NaN  NaN  NaN
min    1.0  2.0  3.0  4.0
25%    1.0  2.0  3.0  4.0
50%    1.0  2.0  3.0  4.0
75%    1.0  2.0  3.0  4.0
max    1.0  2.0  3.0  4.0

In [28]:
df.mean()

A    1.0
B    2.0
C    3.0
D    4.0
dtype: float64